<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">./lucene/indexes</property>
		<property name="hibernate.search.default.batch.merge_factor">10</property>
		<property name="hibernate.search.default.batch.max_buffered_docs">10</property>

		<mapping class="demo.hibernatesearch.model.User" />
		<mapping class="demo.hibernatesearch.model.Resume" />
	</session-factory>
</hibernate-configuration>